 .slider{
    overflow: hidden;
    max-width: 832px;
    height: auto;
    display: flex;
    flex-direction: column;
    
}
.down{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 832px;
    margin-top: 20px;
}
.slider-items{
    width: 400%;
    height: 100%;
    display: flex;
}
.text{
   /* overflow: hidden;
   max-width: 1000px;
   height: auto;
   display: flex;
   flex-direction: row; */
}
.text .text-p{
    
}
.text .text-p p{
   
}
.slider-items .item{
    width: 25%;
    transition: .7s;
}
.slider-items .item img{
    max-width: 100%;
    height: auto;
}
.slider-items input{
    display: none;
}
.slider-nav{
display: flex;
justify-content: center;
}
.slider-nav .bar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue;
    border: 5px solid #242322;
    cursor: pointer;
    transition: .5s;
}



.bar:hover{
    background-color: white;
}
#r1:checked ~ .r1{
margin-left: 0;
}
#r2:checked ~ .r1{
margin-left: -25%;
}
#r3:checked ~ .r1{
margin-left: -50%;
}
#r4:checked ~ .r1{
margin-left: -75%;
}  

#r1:checked ~ .p1{
    margin-left: 0;
    }
    #r2:checked ~ .p1{
   display: none;
    }
    #r3:checked ~ .p1{
    margin-left: -50%;
    }
    #r4:checked ~ .p1{
    margin-left: -75%;
    }  